<p>Welcome to your CoinBay dashboard, to start selling please follow the steps below.

CoinBay utilises BitPay to handle all Bitcoin payments, this service allows easy payments and invoice/tracking for items sold.</p>

<ol>
  <li>
    Please visit <a href="https://www.bitpay.com">Bitpay</a> and "Sign Up" for a business account and confirm the sign-up email.
  </li>
  <li>
    Once logged into the Bitpay website, please go to add a Bank Account and proceed to add a Bitcoin Address to receive Bitcoin payments to your wallet.
  </li>
</ol>
