<div class="container">
<%= render "shared/user_cp_nav" %>
<br/>
<strong>
<h2>Payment Success!</h2>
<br/>
<p> Thankyou for shopping with CoinBay!</p>
<br/>
<p> Please see a summary for your successful purchase below. </p>
<br/>
<p>Product Bought:<%=" #{@success_details['item']}"%></p>
<p>Price:<%=" $ #{@success_details['amount']}USD (#{@success_details["btcamount"]}BTC)"%></p>
<p>Seller:<%=" #{@success_details['company']}"%></p>

<p>You have been emailed an invoice for your purchase, the Seller will contact you with delivery times.</p>
</strong>
</div>
