<h2><strong>Payment Success!</strong></h2>
<br/>
<p> Thankyou for shopping with CoinBay!</p>
<br/>
<p> Please see a summary for your successful purchase below. </p>
<br/>
<p><strong>Product Bought:</strong><%=" #{@success_details['item']}"%></p>
<p><strong>Price:</strong><%=" $ #{@success_details['amount']}USD (#{@success_details["btcamount"]}BTC)"%></p>
<p><strong>Seller:</strong><%=" #{@success_details['company']}"%></p>

<p><strong>You have been emailed an invoice for your purchase, the Seller will contact you with delivery times.</strong></p>
