<div class="container">
<%= render "shared/user_cp_nav" %>
<br/>
<div style="
background-color: rgba(255, 255, 255, 0.5);
padding: 10px;
border-radius: 25px;">
<strong><p>Feature coming soon!</p></strong>
</div>
</div>
